body{
	background-color: pink;
	color: #FFFFFF;
}

h1{
	color: red;
}

h1{
	font-family: adolle bright
	font-size:13px
}
h1{
	width: 300px
}

h2{
	color: red;
}
 h3{
 	color: red;
 }

