body{
	background-color: cyan;
	color: #FFFFFF;
}

h1{
	color: blue;
	text-align: center;
}
p{
	
	color:blue;
}

h2{
	color:blue;
	text-align: center;
}
li{
	color:blue;
}
head{
	text-align: center;
}

strong{
	background-color: blue;
	color: #FFFFFF;
}

em{
	background-color: blue;
}

