.oi{
	background-image: url(../1/R.jpg);
	color: white;
	background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
}
a{
	color: yellow;
	font-family: verdana;
}
h1{
	background-color:#038952;
	text-align:center;
	font-family: arial;
}
h2{
	text-align:center;
	font-family: verdana;
}
body{
	font-family: mathematical bold italic;
}
a{
	color: yellow;
}
li{
	color: #05B79D;
	font-family: verdana;
}
