.body1{
	background-color: #ADD8E6;
}
.texto1{
	font: serif;
}
.sub1{
	font: serif;
}
.texto2{
	font: serif;
}
.footer1{
	background-color: #87CEEB;
            color: #4682B4;
            text-align: center;
            padding: 10px;
}
.texto3{
	font: serif;
}
.texto4{
	font: serif;
	color: #4682B4;
}
.texto5{
	font: serif;
}
.link1{
	color: #4682B4;
	size: 23000px;
}
.body2{
	background-color: #7FFFD4;
}
.d1{
	font: serif;
	color: #20B2AA;
}
.footer2{
	background-color: #87CEEB;
            color: #4682B4;
            text-align: center;
            padding: 10px;
}